header {
  background: slateblue;
  color: whitesmoke;
  margin-bottom: 15px;
  h2 {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    text-transform: uppercase;
  }
}

.box_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
